[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jagshelper"]
	path = jagshelper
	url = https://github.com/mbtyers/jagshelper
[submodule "recapr"]
	path = recapr
	url = https://github.com/mbtyers/recapr
[submodule "riverdist"]
	path = riverdist
	url = https://github.com/mbtyers/riverdist
